#!/usr/bin/make -f

SHELL := /bin/bash

override_dh_auto_build:
	mkdir -p bin
	set -ex && \
		export CGO_ENABLED=1 && \
		go build \
			-mod vendor -buildmode pie -v \
			-ldflags "-s -w" \
			-tags "netgo osusergo exclude_graphdriver_devicemapper exclude_graphdriver_btrfs containers_image_openpgp seccomp systemd apparmor" \
			-o ./bin/podman ./cmd/podman && \
		go build \
			-mod vendor -buildmode pie -v \
			-ldflags "-s -w" \
			-tags "netgo osusergo exclude_graphdriver_devicemapper exclude_graphdriver_btrfs containers_image_openpgp seccomp systemd apparmor remote" \
			-o ./bin/podman-remote ./cmd/podman && \
		go build \
			-mod vendor -buildmode pie -v \
			-ldflags "-s -w" \
			-tags "netgo osusergo exclude_graphdriver_devicemapper exclude_graphdriver_btrfs containers_image_openpgp seccomp systemd apparmor" \
			-o ./bin/rootlessport ./cmd/rootlessport && \
		go build \
			-mod vendor -buildmode pie -v \
			-ldflags "-s -w" \
			-tags "netgo osusergo exclude_graphdriver_devicemapper exclude_graphdriver_btrfs containers_image_openpgp seccomp systemd apparmor" \
			-o ./bin/quadlet ./cmd/quadlet

override_dh_auto_install:
	install -Dpm755 -d debian/tmp/etc/profile.d
	install -Dpm755 -d debian/tmp/usr/bin
	install -Dpm755 -d debian/tmp/usr/lib/systemd/system-generators
	install -Dpm755 -d debian/tmp/usr/lib/systemd/user-generators
	install -Dpm755 -d debian/tmp/usr/libexec/podman
	install -Dpm755 -t debian/tmp/usr/bin bin/podman
	install -Dpm755 -t debian/tmp/usr/bin bin/podman-remote
	install -Dpm755 -t debian/tmp/usr/libexec/podman bin/rootlessport
	install -Dpm755 -t debian/tmp/usr/libexec/podman bin/quadlet
	ln -sf /usr/libexec/podman/quadlet debian/tmp/usr/lib/systemd/system-generators/podman-system-generator
	ln -sf /usr/libexec/podman/quadlet debian/tmp/usr/lib/systemd/user-generators/podman-user-generator
	DESTDIR=debian/tmp \
	PREFIX=/usr \
	BINDIR=/usr/bin \
	ETCDIR=/etc \
	SYSTEMDDIR=/lib/systemd/system \
	USERSYSTEMDDIR=/lib/systemd/user \
		make install.completions install.systemd install.docker

override_dh_auto_test:

override_dh_auto_clean:

%:
	dh $@
